@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Majorbyte/Views/Shared/_MajorLayout.cshtml";
}

<ol class="round">
    <li class="one">
        <h5>Web Workers!</h5>
        @Html.ActionLink("Web worker", "WebWorker")
    </li>
    <li class="two">
       <h5>HTML Sections</h5>
        need more text
    </li>
    <li class="three">
        <h5>Fixa text-transform CSS</h5>
        need more text
    </li>
    <li class="four">
        <h5>decodeURI</h5>
        need more text
    </li>
    <li class="five">
        <h5>position relative/absolute</h5>
        need more text
    </li>
    <li class="six">
        <h5>Fixa text-transform CSS</h5>
        need more text
    </li>
</ol>