@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Majorbyte/Views/Shared/_MajorLayout.cshtml";
}

<ol class="round">
    <li class="one">
        <h5>Web Workers!</h5>
        @Html.ActionLink("Web worker", "WebWorker")
    </li>
    <li class="two">
       <h5>New Semantic/Structural Elements</h5>
        @Html.ActionLink("Html semantics examples", "Index", "Html")

    </li>
    <li class="three">
        <h5>flexbox</h5>
       @Html.ActionLink("Felx Boxl", "flexbox", "Html")
    </li>
</ol>