
<p>@ViewBag.Description</p>
<p>
#myFlexbox {
  display: -ms-flexbox;
  color: white;
  font-size: 48px;
  font-family: "Segoe UI", "Lucida Grande", Verdana, Arial, sans-serif;
  text-align: left;
  height: 200px;
  border: none;
}</p><p>
#child1 {
  -ms-flex-order: 1;
  background: #43e000;  
  padding: 20px;
}</p><p>
#child2 {
  -ms-flex-order: 0;
  background: #166aff;
  padding: 20px;
}</p><p>
#child3 {
  -ms-flex-order: 1;
  background: #43e000;
  padding: 20px;
}</p><p>
#child4 {
  background: #166aff;
  padding: 20px;
}
</p>
<div id="myFlexbox">
  <div id="child1">1</div>
  <div id="child2">2</div>
  <div id="child3">3</div>
  <div id="child4">4</div>
</div>
<input type='button' class='hideButton' value='hide' />