<span>-ms-flex-pack: <input type="radio" value="start" name="flexpack"/><label class="italic">start</label>
    <input type="radio" value="end" name="flexpack"/><label class="italic">end</label>
    <input type="radio" value="center" name="flexpack"/><label class="italic">center</label>
    <input type="radio" value="justify" name="flexpack"/><label class="italic">justify</label>

</span>

<div class="myFlexboxPack">
  <div id="child1">1</div>
  <div id="child2">2</div>
  <div id="child3">3</div>
  <div id="child4">4</div>
</div>
<br />

